@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
  --color-navbar:#666666;
  --color-product: #444444;
  --color-dolor: #9C9B9B;
  --color-primary:#303030;
  --color-secondary:#444444;
  --color-badge: #FF4136;
  --color-background-color:#F5F6F8;
}

@utility container {
  margin: auto;
}


body{
   font-family: "Poppins", sans-serif;
}
